<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS_Printer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <POS_Printer.My.MySettings>
            <setting name="host" serializeAs="String">
                <value>albaco.com.mx</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>albaco</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>K0k4k0l4</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>albaco</value>
            </setting>
            <setting name="serial" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="account" serializeAs="String">
                <value>578531E2000003</value>
            </setting>
            <setting name="profile" serializeAs="String">
                <value />
            </setting>
            <setting name="mainbox" serializeAs="String">
                <value>839, 583</value>
            </setting>
            <setting name="productslist" serializeAs="String">
                <value>860, 580</value>
            </setting>
            <setting name="store" serializeAs="String">
                <value>0</value>
            </setting>
        </POS_Printer.My.MySettings>
    </userSettings>
</configuration>